body {
    background-color: rgb(13, 1, 15);
}
#caixa {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    padding: 50px 10rem;
    gap: 50px;
    
}
.mainbox{
    display: grid;
    grid-template: repeat(6, 1fr);
    gap: 10px;
    width: 30rem;
    height: fit-content;
    font-size: 30px;
    border-radius: 5px 30px 5px 30px;
}
.rainbow1 {
    background-color: rgb(30, 20, 20);
    height: 350px;
    border-radius: 5px 30px 0px 0px;
    box-shadow: 10px 10px 0px rgb(0, 0, 0);
}
.rainbow2 {
    background-color: rgb(236, 65, 65);
    height: 30px;
    box-shadow: 10px 10px 0px rgb(0, 0, 0);
}
.rainbow3 {
    background-color: rgb(252, 112, 61);
    height: 30px;
    box-shadow: 10px 10px 0px rgb(0, 0, 0);
}
.rainbow4 {
    background-color: rgb(253, 253, 100);
    height: 30px;
    box-shadow: 10px 10px 0px rgb(0, 0, 0);
}
.rainbow5 {
    background-color: rgb(105, 241, 105);
    height: 30px;
    box-shadow: 10px 10px 0px rgb(0, 0, 0);
}
.rainbow6{
    background-color: rgb(30, 20, 20);
    height: 50px;
    border-radius: 0px 0px 5px 30px;
    box-shadow: 10px 10px 0px rgb(0, 0, 0);
}
.titulo {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    font-family: 'Eurostile', sans-serif;
    color:rgb(255, 235, 235);
    text-shadow: 4px 4px rgb(0, 0, 0);
}
.content-box {
    background-color: rgb(30, 20, 20);
    width: 40rem;
    box-shadow: 10px 10px 0px rgb(0, 0, 0);
    border-radius: 35px;
    height: fit-content;
    justify-self: center;;
}
.titulo2 {
    display: grid;
    justify-self: center;
    justify-content: center;
    padding: 50px 0px;
    font-family: 'Eurostile', sans-serif;
    color:rgb(255, 217, 217);
    text-shadow: 4px 4px rgb(0, 0, 0);
    font-size:25px;
}
.linha {
    background-color: black;
    width: 35rem;
    height: 3px;
    gap: 10px;
    justify-self: center;
    align-self: start;
}
.text-box {
    background-color: rgb(0, 0, 0);
    width: 35rem;
    height: 25rem;
    margin: 25px 5px;
    border-radius: 20px;
    justify-self: center;
}
.text {
    color: white;
    font-family: 'Fira Code', monospace;
    font-size: 18px;
    padding: 5px 30px;
}
.verde-py {
    color: rgb(80, 250, 123);
}
.salmao-py {
    color: rgb(187, 116, 150);
}
.amarelo-py {
    color: rgb(219, 182, 9);
}
.azul-py {
    color: rgb(138, 202, 239);
}
.bege-py {
    color: rgb(193, 191, 153);
}
.marrom-py {
    color: rgb(151, 123, 110);
}
.img {
    width: 300px;
    display: grid;
    justify-self: center;
    padding: 30px 0px 50px 0px;
}
.text2 {
    font-display: grid;
    color:white;
    font-family: 'Eurostile', sans-serif;
    font-size: 18px;
    padding: 20px 50px 50px 50px;
}
.mudar-pag {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px 50px;
    gap: 20px;
    font-family: 'Eurostile', sans-serif;
    color:rgb(236, 65, 65);
    text-shadow: 4px 4px rgb(0, 0, 0);
    font-size:25px;
}
.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
